body {
  font-family: Arial, sans-serif;
  background-color: #c300ff;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #c300ff, #50a6f7);
  margin: 0;
}

nav {
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  text-align: end;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  background-color: transparent;
}

nav a:hover {
  color: #5ca6eb;
  background-color: #fff;
  border-radius: 5px;
}

section {
  margin-top: 80px;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #fff;
}

ul {
  font-size: 18px;
  color: #fff;
  list-style-type: none;
}

li {
  position: relative;
  line-height: 32px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

li:hover {
  transform: translateX(10px);
}

.icon {
  font-size: 18px;
  line-height: 32px;
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

li:hover .icon {
  opacity: 1;
}

p {
  font-size: 18px;
  color: #fff;
  font-style: italic;
}

h3,
li,
p {
  text-align: left;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #c300ff;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  color: #fff;
  background-color: #5ca6eb;
}

button:active {
  transform: scale(0.98);
}

.message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  color: #c300ff;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  max-width: 80%;
  animation: fade-in-out 3s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

body.dark-mode {
    background: linear-gradient(to right, #121212, #333);
    color: #e0e0e0;
}

nav.dark-mode a {
    color: #e0e0e0;
    background-color: transparent;
}

nav.dark-mode a:hover {
    color: #c300ff;
    
}

h1.dark-mode, h2.dark-mode, h3.dark-mode, ul.dark-mode, p.dark-mode {
    color: #e0e0e0;
}

button.dark-mode {
    color: #000000;
    background-color: #7c7c7c;
}

button.dark-mode:hover {
    color: #e0e0e0;
    background-color: #c300ff;
}

.message-popup.dark-mode {
    background-color: #333;
    color: #e0e0e0;
}

/* Estilos para el formulario */
form {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Efecto de desenfoque detrás del formulario */
  margin: 0 auto;
  max-width: 500px;
}

form h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

fieldset {
  border: none;
  margin-bottom: 15px;
  padding: 0;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #5ca6eb;
  box-shadow: 0 0 8px rgba(92, 166, 235, 0.6);
  outline: none;
}

textarea {
  height: 120px;
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #5ca6eb;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3b8cd9;
}

button[type="submit"]:active {
  transform: scale(0.90);
}



