body {
    font-family: Arial, sans-serif;
    background-color: #c300ff;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #c300ff, #50a6f7);
}

h1 {
    color: #fff;
}

p {
    font-size: 18px;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #c300ff;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    color: #fff;
    background-color: #5ca6eb;
}

button:active {
    transform: scale(0.98);
}



